@import "reset.css";

.body {
    overflow-x: hidden;
}

.header {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 99;
    min-width: 320px;
}

.container {
    margin: 0 auto;
    width: 1120px;
}

.container_header {
    display: flex;
    justify-content: space-between;
    height: 116px;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 42px;
}

.nav__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #5C6A79;
}

.nav__link_active {
    font-weight: 900;
    color: #1C2A39;
}

.nav__burger-button {
    display: none;
}

.nav__burger-button-icon {
    width: 100%;
}

.actions {
    display: flex;
    align-items: center;
    gap: 38px;
}

.actions__button {
    cursor: pointer;
}

.actions__button_shop-bag {
    position: relative;
}

.actions__shop-counter {
    display: none;
    background-color: #FF353A;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    right: -30%;
    width: 13px;
    height: 13px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
}

.actions__shop-counter_active {
    display: inline-block;
}

@media screen and (max-width: 1150px) {
    .container_header {
        width: 97%;
    }
}

@media screen and (max-width: 1120px) {
    .container {
        width: 100%;
    }

    .container_header {
        width: 97%;
    }
}

@media screen and (max-width: 768px) {
    .nav__burger-button {
        display: block;
        margin: 0 auto;
        width: 30px;
        cursor: pointer;
    }

    .nav {
        position: relative;
    }

    .nav__list {
        background-color: #ffffff;
        display: none;
        position: absolute;
        left: 40px;
    }

    .nav__list_active {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .container_header {
        height: 80px;
    }

    .logo__image {
        width: 90px;
    }

    .actions {
        gap: 20px;
    }
}

.slider {
    min-width: 320px;
}

.container_slider {
    position: relative;
}

.slider__item {
    display: block;
    width: 100%;
    height: 702px;
}

.slider__dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 17px;
}

.slider__dots-item {
    border-radius: 50%;
    background-color: #EFEEF6;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.slider__dots-item_active {
    background-color: #9E98DC;
}

.slider__link {
    box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.3);
    display: block;
    position: absolute;
}

.slider__link_1 {
    background-image: url("../../dist/images/slider-link-1.png");
    background-size: 100% 100%;
    top: 10.6%;
    right: -87px;
    width: 13.3%;
    height: 28%;
}

.slider__link_2 {
    background-image: url("../../dist/images/slider-link-2.png");
    background-size: 100% 100%;
    top: 49.1%;
    right: -160px;
    width: 12.2%;
    height: 37.6%;
}

@media screen and (max-width: 1440px) {
    .slider__link_1 {
        right: 6%;
    }

    .slider__link_2 {
        right: 0;
    }
}

@media screen and (max-width: 1120px) {
    .slider__item {
        height: auto;
    }
}

.books {
    min-width: 320px;
}

.container_books {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.books-menu {
    background-color: #EFEEF6;
    position: absolute;
    top: 103px;
    left: -14.4%;
    display: flex;
    justify-content: center;
    width: 415px;
    height: 711px;
}

.books-menu__list {
    margin-top: 48px;
}

.books-menu__item {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #756AD3;
}

.books-menu__item:nth-of-type(n + 2) {
    margin-top: 24px;
}

.books-menu__link {
    color: #5C6A79;
}

.books-menu__item_active {
    font-size: 16px;
    font-weight: 700;
    list-style: disc;
}

.books-menu__item_active .books-menu__link {
    color: #1C2A39;
}

.books-content {
    margin-top: 148px;
    width: 923px;
}

.books-content__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 422px);
    grid-column-gap: 74px;
    grid-row-gap: 95px;
    justify-content: right;
}

.books-content__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    z-index: 2;
}

.books-content__leftside {
    width: 50%;
    height: 100%;
}

.books-content__cover {
    box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

.books-content__rightside {
    width: 42%;
}

.books-content__author {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #5C6A79;
}

.books-content__title {
    margin-top: 9px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #1C2A39;
}

.books-content__rating {
    margin-top: 3px;
}

.books-content__rating-star {
    font-size: 14px;
    color: #EEEDF5;
    letter-spacing: -3px;
}

.books-content__rating-star:before {
	content: '★';
}

.books-content__rating-star_active {
	color: #f2c94c;
}

.books-content__rating-count {
    margin-left: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #5C6A79;
}

.books-content__description {
    margin-top: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #5C6A79;
    line-height: 14px;
}

.books-content__price {
    margin-top: 13px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #1C2A39;
}

.books-content__purchase {
    margin-top: 17px;
}

.books-content__bottom {
    display: flex;
    justify-content: center;
    margin: 95px 0;
}

.books-content__button {
    border: 1px solid #4C3DB2;
    width: 176px;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    font-weight: 700;
    color: #4C3DB2;
    cursor: pointer;
    transition: all 0.2s;
}

.books-content__button_purchase {
    width: 100%;
}

.books-content__button:hover {
    font-size: 11px;
}

@media screen and (max-width: 1444px) {
    .books {
        position: relative;
    }

    .container_books {
        position: static;
    }

    .books-menu {
        left: 0;
        width: 300px;
    }
}

@media screen and (max-width: 1220px) {
    .books-content__list {
        grid-template-columns: 423px;
        justify-content: center;
    }
}

@media screen and (max-width: 920px) {
    .books-menu {
        top: 35px;
        padding: 20px 0;
        width: 100%;
        height: auto;
    }

    .books-menu__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px 20px;
        margin-top: 0;
        width: 100%;
    }

    .books-menu__item {
        width: auto;
    }

    .books-menu__item:nth-of-type(n + 2) {
        margin-top: 0;
    }

    .books-menu__item_active {
        list-style-type: none;
    }
}

@media screen and (max-width: 715px) {
    .books-content {
        margin-top: 168px;
    }
}

@media screen and (max-width: 486px) {
    .books-content {
        margin-top: 192px;
    }

    .books-content__list {
        grid-template-columns: 88%;
        grid-row-gap: 19.6vw;
    }

    .books-content__item {
        height: 61.7vw;
    }
}

@media screen and (max-width: 400px) {
    .books-content__leftside {
        width: 45%;
        height: 90%;
    }

    .books-content__rightside {
        width: 50%;
    }

    .books-content__author {
        font-size: 2.4vw;
    }
    
    .books-content__title {
        font-size: 4vw;
    }

    .books-content__rating-star {
        font-size: 3.4vw;
    }

    .books-content__rating-count {
        font-size: 2.5vw;
    }

    .books-content__description {
        font-size: 2.5vw;
    }

    .books-content__price {
        font-size: 3.3vw;
    }

    .books-content__button_purchase {
        width: 80%;
        height: 30px;
    }
}

@media screen and (max-width: 365px) {
    .books-content {
        margin-top: 208px;
    }
}

@media screen and (max-width: 320px) {
    .books-content__list {
        grid-template-columns: 274px;
        grid-row-gap: 65px;
    }

    .books-content__item {
        height: 195px;
    }

    .books-content__author {
        font-size: 7.8px;
    }
    
    .books-content__title {
        font-size: 12.8px;
    }

    .books-content__rating-star {
        font-size: 10.6px;
    }

    .books-content__rating-count {
        font-size: 8px;
    }

    .books-content__description {
        font-size: 8px;
    }

    .books-content__price {
        font-size: 10.4px;
    }
}